externalSecrets:

  github:
    enabled: true
    secretPath: "jenkins/staging/github/oauth"


jenkins:
  persistence:
    size: "8Gi"

  controller:
    jenkinsUrlProtocol: https
    jenkinsUrl: https://jenkins-staging.neikoscloud.net

    #containerEnv:
    #   - name: GITHUB_CLIENT_ID
    #     valueFrom:
    #       secretKeyRef:
    #         name: jenkins-staging-github-oauth-secret
    #         key: clientId
    #   - name: GITHUB_CLIENT_SECRET
    #     valueFrom:
    #       secretKeyRef:
    #         name: jenkins-staging-github-oauth-secret
    #         key: clientSecret

    JCasC:
      configScripts:
        # Quan trọng: Gộp security vào 1 block để tránh lỗi override
        security: |
          jenkins:
            securityRealm:
              github:
                githubWebUri: "https://github.com"
                githubApiUri: "https://api.github.com"
                clientID: "Ov23limMHZ2rzzwTJAvv"
                clientSecret: "d896fb2d7403b917b53d21fddf77b63e30b28d5f"
                oauthScopes: "read:org,user:email"
            # authorizationStrategy:
            #   github:
            #     adminUserNames: "Lynrbe"
            #     authenticatedUserReadPermission: true
            #     allowAnonymousRead: false
            #     allowAnonymousJobStatusPermission: false
            #     allowCcTrayPermission: false
            #     allowGithubWebHookPermission: true
        
        welcome-message: |
          jenkins:
            systemMessage: "Welcome to Jenkins Staging Server"