jenkins:
  persistence:
    enabled: false
    volumes:
      - name: jobdsl-scripts
        configMap:
          name: jobdsl-scripts
    mounts:
      - name: jobdsl-scripts
        mountPath: /var/jenkins_home/jobDSL
  controller:
    # Sửa đoạn này
    image:
      registry: "docker.io"
      repository: "jenkins/jenkins" # Tên image nằm ở đây
      tag: "lts-jdk21"              # Tag nằm trong block image

    env:
      - name: JENKINS_ADMIN_PASSWORD
        valueFrom:
          secretKeyRef:
            name: jenkins-server
            key: jenkins-admin-password

    JCasC:
      configScripts:
        welcome-message: |
          jenkins:
            systemMessage: "Welcome to the Production Jenkins Server"      
      defaultConfig: false
      configScripts:
        base-security: |
          jenkins:
            securityRealm:
              local:
                allowsSignup: false
                users:
                  - id: admin
                    password: ${JENKINS_ADMIN_PASSWORD}

            authorizationStrategy:
              loggedInUsersCanDoAnything:
                allowAnonymousRead: false
# Jenkins.instance.pluginManager.plugins.each{
#   plugin ->
#   	println ("     - ${plugin.getShortName()}:${plugin.getVersion()}")
# }
    # ... các cấu hình resources, serviceType giữ nguyên ...
    resources:
      requests:
        cpu: "500m"
        memory: "2648Mi"
      limits:
        cpu: "1000m"
        memory: "5296Mi"
    serviceType: NodePort
    nodePort: 30000
    
    installLatestPlugins: false
    overwritePlugins: true
    installPlugins:
      - configuration-as-code
      - kubernetes
      - workflow-aggregator
      - job-dsl

      # --- CẶP PLUGIN GIT (NGUYÊN NHÂN GÂY LỖI) ---
      - git
      - git-client

      # --- ĐÂY LÀ DÒNG FIX LỖI ---
      # Phải nâng lên bản 687... để thỏa mãn yêu cầu của git:5.7.0
      - credentials-binding

      # --- FIX CÁC LỖI BẢO MẬT (SECURITY WARNINGS) ---
      # Nâng cấp các gói này để hết báo vàng
      - jakarta-mail-api
      - pipeline-model-definition
      - workflow-cps
