jenkins:
  persistence:
    enabled: false
    size: "8Gi"
    existingClaim: jenkins-server
    storageClass: gp3
  controller:
    jenkinsUrlProtocol: https
    jenkinsUrl: https://jenkins.neikoscloud.net
    JCasC:
      configScripts:
        welcome-message: |
          jenkins:
            systemMessage: "Welcome to the Production Jenkins Server"

        github-auth: |
          jenkins:
            authorizationStrategy:
              github:
                allowAnonymousRead: false
                adminUserNames: "admin"
                authenticatedUserReadPermission: true
