jenkins:
  persistence:
    size: "8Gi"
  controller:
    jenkinsUrlProtocol: https
    jenkinsUrl: https://jenkins-staging.neikoscloud.net
    JCasC:
      configScripts:
        welcome-message: |
          jenkins:
            systemMessage: "Welcome to Jenkins Staging Server"

        github-auth: |
          jenkins:
            authorizationStrategy:
              github:
                allowAnonymousRead: false
                adminUserNames: "admin"
                authenticatedUserReadPermission: true
               