externalSecrets:
  enabled: false
  secretPath: "jenkins/default/admin"

  github:
    enabled: false
    secretPath: "jenkins/default/github/oauth"

  sshEks:
    enabled: false
    secretPath: "jenkins/default/ssh/eks"

jenkins:
  jobdsls: []

  persistence:
    enabled: false
    volumes:
      - name: jobdsl-scripts
        configMap:
          name: jobdsl-scripts
    mounts:
      - name: jobdsl-scripts
        mountPath: /var/jenkins_home/jobDSL

  controller:
    image:
      registry: "docker.io"
      repository: "jenkins/jenkins"
      tag: "lts-jdk21"

    env:
      - name: JENKINS_ADMIN_PASSWORD
        valueFrom:
          secretKeyRef:
            name: jenkins-server
            key: jenkins-admin-password

    JCasC:
      defaultConfig: false
      configScripts:

        welcome-message: |
          jenkins:
            systemMessage: "Welcome to Jenkins Server"

        base-security: |
          jenkins:
            securityRealm:
              local:
                allowsSignup: false
                users:
                  - id: admin
                    password: ${JENKINS_ADMIN_PASSWORD}

            authorizationStrategy:
              loggedInUsersCanDoAnything:
                allowAnonymousRead: false
        
        ssh-credentials: |
          credentials:
            system:
              domainCredentials:
                - credentials:
                    - basicSSHUserPrivateKey:
                        scope: GLOBAL
                        id: "ssh-eks-key"
                        username: "${jenkins-ssh-eks-credential.username}"
                        privateKeySource:
                          directEntry:
                            privateKey: "${jenkins-ssh-eks-credential.privateKey}"

    resources:
      requests:
        cpu: "500m"
        memory: "2648Mi"
      limits:
        cpu: "1000m"
        memory: "5296Mi"

    serviceType: NodePort
    nodePort: 30000

    installLatestPlugins: false
    overwritePlugins: true
    installPlugins:
      - configuration-as-code
      - kubernetes
      - workflow-aggregator
      - job-dsl
      - git
      - git-client
      - credentials-binding
      - ssh-credentials   
      - jakarta-mail-api
      - pipeline-model-definition
      - workflow-cps
