externalSecrets:

  github:
    enabled: true
    secretPath: "jenkins/staging/github/oauth"


jenkins:
  persistence:
    size: "8Gi"

  controller:
    jenkinsUrlProtocol: https
    jenkinsUrl: https://jenkins-staging.neikoscloud.net

    env:
      - name: GITHUB_CLIENT_ID
        valueFrom:
          secretKeyRef:
            name: jenkins-staging-github-oauth-secret
            key: clientId
      - name: GITHUB_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: jenkins-staging-github-oauth-secret
            key: clientSecret

    JCasC:
      configScripts:
        welcome-message: |
          jenkins:
            systemMessage: "Welcome to Jenkins Staging Server"
        security: |
          jenkins:
            securityRealm:
              github:
                githubWebUri: "https://github.com"
                githubApiUri: "https://api.github.com"
                clientID: "${GITHUB_CLIENT_ID}"
                clientSecret: "${GITHUB_CLIENT_SECRET}"
                oauthScopes: "read:org,user:email"
            authorizationStrategy:
              github:
                allowAnonymousRead: false
                authenticatedUserReadPermission: true
                allowAnonymousJobStatusPermission: false
                allowCcTrayPermission: false
                allowGithubWebHookPermission: false
                adminUserNames: "Lynrbe"

        credentials-config: |
          credentials:
            system:
              domainCredentials:
                - credentials:
                    - basicSSHUserPrivateKey:
                        scope: GLOBAL
                        id: "ssh-eks-key"
                        description: "SSH key for EKS access"
                        username: "${SSH_USERNAME}"
                        privateKeySource:
                          directEntry:
                            privateKey: "${SSH_PRIVATE_KEY}"
                    - aws:
                        scope: GLOBAL
                        id: "aws-credentials"
                        description: "AWS Access Credentials"
                        accessKey: "${AWS_ACCESS_KEY}"
                        secretKey: "${AWS_SECRET_KEY}"
