# Default values for traefik wrapper chart

traefik:
  # Ports configuration
  ports:
    web:
      port: 8000
      expose:
        default: true
      exposedPort: 80
      protocol: TCP
    websecure:
      port: 8443
      expose:
        default: true
      exposedPort: 443
      protocol: TCP
      tls:
        enabled: true
    metrics:
      port: 9100
      expose:
        default: false
      exposedPort: 9100
      protocol: TCP

  # Service configuration
  service:
    enabled: true
    type: LoadBalancer
    annotations: {}

  # Providers configuration
  providers:
    kubernetesCRD:
      enabled: true
      allowCrossNamespace: false
    kubernetesIngress:
      enabled: true
      namespaces: []
