apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 5000
          env:
            - name: MLFLOW_S3_ENDPOINT_URL
              value: {{ .Values.artifactStore.s3.endpoint | quote }}
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: mlflow-s3
                  key: accessKey
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: mlflow-s3
                  key: secretKey
            - name: AWS_DEFAULT_REGION
              value: us-east-1
          command:
            - mlflow
            - server
            - --backend-store-uri
            - postgresql://{{ .Values.backendStore.username }}:{{ .Values.backendStore.password }}@{{ .Values.backendStore.host }}:{{ .Values.backendStore.port }}/{{ .Values.backendStore.database }}
            - --default-artifact-root
            - s3://{{ .Values.artifactStore.s3.bucket }}
            - --host
            - 0.0.0.0
            - --port
            - "5000"
            - --serve-artifacts
          volumeMounts:
            - name: mlflow-data
              mountPath: /mlflow
      volumes:
        - name: mlflow-data
          persistentVolumeClaim:
            claimName: mlflow-pvc
