jenkins:
  controller:
    image: "jenkins/jenkins"
    tag: "lts"
    resources:
      requests:
        cpu: "500m"
        memory: "1024Mi"
      limits:
        cpu: "1000m"
        memory: "2048Mi"
    serviceType: Nodeport
    Nodeport: 30000
    persistence:
      enabled: true
      size: "8Gi"
      storageClass: ""
    
    installPlugins:
      - kubernetes
      - workflow-aggregator
      - git
      - configuration-as-code
    
    JCasC:
      defaultConfig: true
      configScripts:
        welcome-message: |
          jenkins:
            systemMessage: "welcome to Jenkins"