# BẮT BUỘC phải có dòng này vì bạn đang dùng Wrapper Chart
jenkins:
  controller:
    image: "jenkins/jenkins"
    tag: "lts-jdk21"  
    resources:
      requests:
        cpu: "500m"
        memory: "1024Mi"
      limits:
        cpu: "1000m"
        memory: "2048Mi"
    serviceType: NodePort
    nodePort: 30000
    installLatestPlugins: false
    overwritePlugins: true
    installPlugins:
      - configuration-as-code
    JCasC:
      defaultConfig: true
      configScripts:
        welcome-message: |
          jenkins:
            systemMessage: "welcome to Jenkins"

  persistence: 
    enabled: true
    size: "8Gi"
    storageClass: ""