# charts/postgres/values.yaml
# 1. Cấu hình xác thực (Authentication)

postgresql:
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: 15.8.0-debian-12-r0  # Hoặc chỉ đơn giản là "15" để lấy bản mới nhất của v15
    pullPolicy: IfNotPresent
auth:
  database: mlflow
  username: mlflow_user
  password: "mlflowpassword123" 
# 2. Cấu hình lưu trữ bền vững (Persistence) - QUAN TRỌNG TRÊN EKS
primary:
  persistence:
    enabled: true
    storageClass: "gp3" 
    size: 20Gi
    mountPath: /bitnami/postgresql
    accessModes:
      - ReadWriteOnce
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 250m
      memory: 512Mi
service:
  type: ClusterIP
  ports:
    postgresql: 5432
metrics:
  enabled: false 
primary:
  initdb:
    scripts:
      init.sql: |
        CREATE DATABASE mlflow;